
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <h1>{{title}}</h1>
        </div>
        <div class="col-xs-6">
            <p class="lead leadText pull-right">React + Express + MongoDB task management</p>
        </div>
        <div id="todo" class="col-xs-12">
        </div>
    </div>
</div>
<script src="js/main.js" type="text/babel"></script>

