

body
  padding: 2rem
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.delete
  display: inline-block
  background-color: crimson

.task
  display: inline-block
  margin-right: 1rem
  margin-bottom: .25rem

.todoCreate
  margin-right: 1rem
  margin-bottom: 1rem

.todoSubmit
  background-color: darkolivegreen

.todoFormDelete
  display: inline-block